body {
    background-image: url("../images/bg.jpg");
    background-repeat: repeat;
}

.main {
    background-color: white;
    border-radius: 10px;
    padding-top: 20px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
    margin-top: 10px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.comment-user-image {
    width: 38px;
    height: 38px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profiles-list {
    padding-top: 20px;
    height: 800px;
}

.link-button {
    cursor: pointer;
    color: #999;
    font-size: 13px;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
}

.main-body-left {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

.menu-comment-icon {
    margin-left: 20px;
    cursor: pointer;
}

.menu-comment-icon-color {
    color: #499ef3;
}

.secondary-comment-list {
    border-bottom: 1px solid #eee;
}

.question-tag {
    margin-right: 5px;
}

.related-question-list {
    margin: 0px 0px;
    font-size: 13px;
}
