<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-book" aria-hidden="true" th:text=" ${selectName}"></span></h3>
            <!--hr为水平分割线-->
            <hr/>
            <!--显示问题信息-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'questions'}">
                <div class="media" th:each="questionDTO : ${paginationDTO.getTList()}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${questionDTO.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/question/'+ ${questionDTO.getId()}}">
                                <td th:text="${questionDTO.title}"/>
                            </a>
                        </h4>
                        <span class="text-desc">
                            <span th:text="${questionDTO.commentCount}"></span>
                            个回复 •
                            <span th:text="${questionDTO.viewCount}"></span>
                            次浏览 • 发布于:
                            <span th:text="${#dates.format(questionDTO.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                        </span>
                    </div>
                </div>
            </div>
            <!--显示通知信息-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'notification'}">
                <div class="media" th:each="notification : ${paginationDTO.getTList()}">
                    <div class="media-body">
                        <p class="media-heading">
                            <span th:text="${notification.getNotifier().getName() + ' ' + notification.getType() + ''}"></span>
                            <a th:href="@{'/notification/'+ ${notification.getId()}}"
                               th:text="${notification.getContent()}"></a>
                            <span class="label label-danger" th:if="${notification.status == 0}">未读</span>
                        </p>
                    </div>
                </div>
            </div>
            <!--显示页数-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${paginationDTO.showFirstPage}">
                            <a th:href="@{'/profiles/'+ ${section}(currentPage='1')}" aria-label="FirstPage">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${paginationDTO.showPrevious}">
                            <a th:href="@{'/profiles/'+ ${section}(currentPage=${paginationDTO.currentPage}-1)}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page : ${paginationDTO.getPages()}"
                            th:class="${paginationDTO.currentPage == page}? 'active' : ''">
                            <a th:href="@{'/profiles/'+ ${section}(currentPage=${page})}" th:text="${page}">

                            </a>
                        </li>
                        <li th:if="${paginationDTO.showNext}">
                            <a th:href="@{'/profiles/'+ ${section}(currentPage=${paginationDTO.currentPage}+1)}"
                               aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${paginationDTO.showEndPage}">
                            <a th:href="@{'/profiles/'+ ${section}(currentPage=${paginationDTO.getTotalPage()})}"
                               aria-label="showEndPage">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 profiles-list">
            <div class="list-group">
                <a href="/profiles/questions"
                   th:class="${section == 'questions'}? 'list-group-item active' : 'list-group-item'">
                    <span class="badge">0</span>
                    我的问题
                </a>
                <a href="/profiles/notification"
                   th:class="${section == 'notification'}? 'list-group-item active' : 'list-group-item'">
                    <span class="badge" th:text="${session.unreadCount}"></span>
                    我的通知
                </a>
                <a href="#" th:class="${section == '#'}? 'list-group-item active' : 'list-group-item'">
                    <span class="badge">0</span>
                    我的关注
                </a>
                <a href="#" th:class="${section == '#'}? 'list-group-item active' : 'list-group-item'">
                    <span class="badge">0</span>
                    我的收藏
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>